<?php
// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Framework\View\Element\Template
 */

?>
<form action="<?php echo $block->getUrl('intern/index/AddBssTable') ?>" method="post" id="form-validate" class="bss-form">
    <fieldset class="fieldset create info">
        <h2>BSS INTERNSHIP FORM</h2>
        <br>
        <span class="validate"></span>
        <div class="field field-name-firstname required">
            <span>Full name</span>
            <input type="text" id="name" name="name" title="Name" required>
        </div>
        <div class="field field-name-firstname required">
            <span>Day of birth</span>
            <input type="date" id="dob" name="dob" title="Dob" required>
        </div>
        <div class="field field-name-firstname required">
            <span>Gender</span>
            <select name="gender" id="gender" required>
                <option value=""></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="field field-name-firstname required">
            <span>Address</span>
            <input type="text" id="address" name="address" title="Address" required>
        </div>
        <div class="field field-name-firstname required">
            <span>Email</span>
            <input required type="email" name="email" id="email">
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" id="submit">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
